@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

script{
    font-family: 'EB Garamond', serif;
}

body{
    font-family: 'EB Garamond', serif;
    margin: 0;
    border-style: none;
    /* background-image: url(media/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100%; */
}

/* .center{
    font-family: 'EB Garamond', serif;
}
.center table{
    position: relative;
    margin: ;
    align-items: center;
} */